@charset "UTF-8";
@media screen and (min-width: 910px) {
    div.container {
        width: 850px;
    }
    section {
        width: 850px;
    }
    article {
        width: 850px;
    }
    div.tela {
        width: 850px;

    }
    header {
        font-size: 2em;
    }
    img.imagem {
        padding-top: 15px;
        width: 850px;
    }
    div.pea {
        flex-flow: row nowrap;
    }
   
    }
    




